* {
  margin: 0;
  padding: 0;
}
li { list-style: none; }


.wrap {
  width: calc( 100% - 40px);
  margin: 0 auto;
  height: calc( 100vh - 40px);
  padding: 20px;
}

.inner_wrap {
  width: 100%;
  margin: 0 auto;
  max-width: 770px;
  /* position: relative; */
}

.userTitle {
  text-align: center;
  padding: 10px 0 30px;
  font-size: 30px;
  font-weight: 500;
}

.newBtn {
  width: 60px;
  height: 35px;
  background-color: #3f8aec;
  color: white;
  border: 1px solid #ddd;
  position: absolute;
  top: 50px;
  right: 20px;
  font-size: 18px;
  /* z-index: 0; */
}

.userOuter {
  width: 100%;
  height: calc( 100vh - 101px );
  border-top: 1px solid #333;
  box-sizing: border-box;
  overflow-y: scroll;
}

.info_user {
  border: 1px solid #333;
  padding: 10px;
  margin: 10px 0;
}

.info_user>li {
  display: flex;
  font-size: 14px;
}

.info_user>li .title {
  width: 100px;
}

.info_user>li .inputstyle {
  width: calc(100% - 110px);
}




/* ------CreateModal-------------------------------------------- */



.CreateModalinput {
  width: calc(100% - 110px);
  box-sizing: border-box;
  padding: 5px;
}





.removeBtn {
  left: 50%;
  transform: translateX(-50%)
}

.Textarea {
  width: calc(100% - 100px);
  word-break: break-all;
}